<script>
	// directives that will allow you to automatically compute CSS animations
	// fade and fly will allow you to


	import {fade, fly} from 'svelte/transition';
	// used for javascript or typescript code
	// can be specified within the script tag as <script lang="js"||lang="js"(default)>
	export let name;
	// to create a state, use the let declarator to instantiate a variable
		// you can then use it later in the html using curly braces


		//importing the component
	import { randomStore } from './store'
	// svelte has a really cool way of handling promises
	function delay(ms) {
		return new Promise(resolve => setTimeout(resolve))
	}
	
	// let rando;
	let rando = delay(2000).then(v => Math.random())
	let randos = []

	// instead of let, we can use $: to tell svelte to recalculate this value when the app reacts
	$: resulting_emoji = rando > 90 ? '😁' : '😥'

	// notice that we don't need to have a return statement
	function setRandom(){
		rando = Math.floor(Math.random()*100);
		randos = [...randos, rando]
	}






</script>


<!-- HTML here , this specific type of html has been empowered with extra syntax to write declarative code

-->
<main>
	<h1 >Hello {name}!</h1>

	<hr>
	{ $randomStore }

	<button on:click={() => randomStore.set(Math.random())}> Click Here! </button>
	<hr>


	<!-- <p>The random number is {rando} { resulting_emoji }</p>
	<hr>
	<button on:click={ setRandom }>Randomize</button> -->

	<!-- <hr>
	<input bind:value={rando} class={ rando }/>
	<p>class = {rando}</p> -->


	<!-- <hr>
	{#if rando > 75 }
		<p transition:fade >This is a fade transition</p>
	{:else if rando > 50}
		<p  in:fly={{x:1000, duration:500 }}
		out:fly={{x:-500, duration:500}}
		>A flying transition! 🪁</p>
	{:else }
		<p transition:fade>This too shall fade.</p>
	{/if}
	<hr>
	{#await rando}
		<p>thinking about it...</p>
	{:then number}
		<p>Result {number}</p>
	{:catch error}
		<p>{error.message}</p>
	{/await} -->



	<!-- <hr>
	<p>previous random numbers!! {randos}</p>
	<hr>
	<ul>
		{#each randos as val, idx}
			<p>val {val}, idx {idx}</p>
		{/each}
	</ul>
	<hr> -->




	</main>


<!-- style tag can use a preprocessor such as sass where we add lang="scss" to the style tag-->
<style>
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>